header{
background:#b2b2b2;
text-align:center;
}
h1{
text-align:center;
text-transform:uppercase;
color:#ffffff;
}
a{
background:#c5c5c5;
color:#3b250efc;
}
h2{
color:#000080;
text-transform:uppercase;
}
img{
display:none;
}
section{
background:#f7f7f7;
}